<section class="contact-form">
    <div class="contact-form-container">
        <div class="contact-form-content">
            <div data-tf-live="01HW323B36VJXP15E728N5QGGA"></div>
        </div>
        <div class="contact-info-content">
            <div class="contact-info-div">
                <span class="contact-info-icon">
                    <i class="fa fa-map-marker"></i>
                </span>
                <p class="contact-info-title">{{ page.header.addresstitle }}</p>
                <p class="contact-info-desc">{{ config.site.contact.address }}</p>
            </div>
            <div class="contact-info-div">
                <span class="contact-info-icon">
                    <i class="fa fa-phone"></i>
                </span>
                <p class="contact-info-title">{{ page.header.talktitle }}</p>
                <p class="contact-info-desc">{{ config.site.contact.phone }}</p>
                <p class="contact-info-desc">{{ config.site.contact.mail }}</p>
            </div>
        </div>
    </div>
</section>

<script src="//embed.typeform.com/next/embed.js"></script>