<section class="home-start">
    <img class="start-bg" src="{{ page.media.images[header.background].url }}">
    <div class="rectangle"></div>
    <div class="start-container">
        <img class="start-container-bg" src="{{ page.media.images[header.background].url }}">
        <div class="start-content">
            <p class="title">{{ page.header.headtitle }}</p>
            <p class="description">{{ page.header.description }}</p>
            <a class="btn-about" href="{{ base_url_relative }}/contact">CONTACT US</a>
        </div>
    <div>
</section>